.single-mesg-send ,.single-mesg-recieve{
margin: 0.5rem;
padding: 0.75rem;
height: auto;
max-width: max-content;
width: 60%;
word-wrap: break-word;
color: white;
background-image:linear-gradient(to bottom,#c084fc,#9333ea);
}

.mesg-cont{
  width: 100%;
  display: flex;
 
}
.sender{
  justify-content: flex-end;
}
.reciever{

}

.new-user-joined{
  justify-content: center;
  color: white;
  background-image: linear-gradient(to top,#c084fc,#9333ea);
  /* background-image: linear-gradient(to right,#9333ea,#7e22ce); */
}

.time{
  color: rgb(21, 20, 20);
  font-size: 0.7rem;
}

/* m-2 rounded-sm p-3 h-auto max-w-[60%] 
bg-gradient-to-b from-violet-400 to-violet-600 
text-white */